services:
 db:
    image: postgres:latest
    container_name: my_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: FoodDeliveryApp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
 redis:
    image: redis:latest
    container_name: my_redis
    ports:
      - "6379:6379"
    

volumes:
  postgres_data: